* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Splash Screen */
.intro {
  position: fixed;
  z-index: 1000; /* Make sure it’s above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}

.logo-header {
  color: red;
  font-size: 3rem;
  font-weight: bold;
}

.logo {
  opacity: 0;
  transform: translateY(20px);
}

.logo.active {
  opacity: 1;
  transform: translateY(0);
  transition: ease-in-out 0.5s;
}

.logo.fade {
  opacity: 0;
  transform: translateY(-20px);
  transition: ease-in-out 0.5s;
}

/* Hide the splash screen completely after animation */
.intro.hide {
  opacity: 0;
  top: -100vh;
  pointer-events: none;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
