.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px; /* Keeps content aligned in a readable width */
  margin: auto;
  padding: 20px;
}

.about-main {
  text-align: flex; /* Centers text elements */
  margin-top: 100px;
  /* max-width: 800px;  */
  width: 70%;
}

.main-text {
  /* font-size: clamp(20px, 2vw, 26px); */
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 10px;
}

.about-description {
  font-size: clamp(16px, 2vw, 24px);

  line-height: 1.6;
  text-align: center;
  margin: 10px auto;
  max-width: 700px;
  color: #333; /* Softer color for readability */
}
@media (max-width: 430px) {
  .about-description {
    overflow: hidden;
    font-size: 16px;
    width: 350px;
    text-align: center;
    margin-left: 0;
    line-height: 1.2;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.socialMedia {
  position: fixed; /* Fixes the position relative to the viewport */
  bottom: 3%; /* 20px from the bottom */
  left: 50%; /* Centers the icons horizontally */
  transform: translateX(-50%); /* Center the icons exactly */
  z-index: 40; /* Ensures it's always above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add some spacing between icons */
  padding: 10px;
}

.homebutton {
  position: fixed; /* Fixes the position relative to the viewport */
  bottom: 30px; /* 20px from the bottom */
  left: 10%; /* Centers the icons horizontally */
  transform: translateX(-50%); /* Center the icons exactly */
  z-index: 40; /* Ensures it's always above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add some spacing between icons */
  padding: 10px;
}

/* Footer */
.footer {
  justify-content: center;
  text-align: center;

  margin-top: 200px;
  margin-bottom: 90px;
}
